<!DOCTYPE html>
<html>

<head>
  <meta name="X-Recruiting" content="Still a one man show!" />


  <meta charset="utf-8">
  <!-- <meta name="format-detection" content="telephone=no"> -->
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <meta name="application-name" content="Gang Horse">

  <meta name="fb:app_id" property="1777475645721225">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@CMurschall">


  <link rel="icon" type="image/png" sizes="64x64" href="icons/Tölter64x64.png">


  <link rel="apple-touch-icon" sizes="152x152" href="icons/app-logo-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="icons/app-logo-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="icons/app-logo-180x180.png">

  <!-- language options see https://support.google.com/webmasters/answer/189077 -->
  <link rel="alternate" hreflang="en" href="https://gang.horse/en" />
  <link rel="alternate" hreflang="de" href="https://gang.horse/de" />


  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://gang.horse/feed.rss" />
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>